diffusers==0.27.2
transformers==4.40.0
peft==0.10.0
accelerate==0.29.3
wandb==0.16.6
scipy==1.13.0
opencv-python==4.9.0.80
opencv-fixer==0.2.5
insightface==0.7.3
gdown==5.1.0
onnx==1.16.0
onnxruntime-gpu==1.17.1
debugpy==1.6.5
